* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

#container {
  display: flex;
}

#navbar {
  background: rgb(2, 80, 197);
  background: linear-gradient(
    90deg,
    rgba(2, 80, 197, 1) 0%,
    rgba(100, 50, 163, 1) 100%
  );
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0rem 1.5rem;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.lms {
  font-family: Helvetica, sans-serif;
  padding: 1.25rem;
}

.hamb {
  margin-left: 1rem;
  padding: 1.25rem;
}

.nav-list ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 1rem;
  font-family: Helvetica;
  font-size: 13px;
}

.nav-list ul img {
  border-radius: 15rem;
}

#main-menu {
  background-color: #222d32;
}

#menus {
  display: flex;
  position: sticky;
  color: white;
  background-color: #222d32;
  width: 230px;
  height: 60px;
  gap: 0.5rem;
}

.mhs {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

.mhs span {
  color: #00a65a;
}

.profile img {
  border-radius: 15rem;
  display: flex;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
}

.mhs {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.head-menu1 {
  color: #354b63;
  background-color: #1a2226;
  width: 216px;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  padding: 0.75rem;
}

.menu-dashboard {
  display: flex;
  color: white;
  background-color: #1e282c;
  width: 216px;
  padding: 0.75rem;
  font-family: Helvetica;
  font-style: normal;
  font-size: 14px;
  gap: 0.7rem;
  align-items: center;
}

.menu-presensi {
  display: flex;
  color: white;
  background-color: #1e282c;
  width: 216px;
  padding: 0.75rem;
  font-family: Helvetica;
  font-style: normal;
  font-size: 14px;
  gap: 0.7rem;
  align-items: center;
}

.head-menu2 {
  color: #354b63;
  background-color: #1a2226;
  width: 216px;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  padding: 0.75rem;
}

.kelas {
  display: flex;
  color: white;
  background-color: #1e282c;
  width: 216px;
  padding: 0.75rem;
  font-family: Helvetica;
  font-style: normal;
  font-size: 14px;
  gap: 0.7rem;
  align-items: center;
}

.kelas .icon-class {
  margin-left: 0.5rem;
}

.logging-out {
  color: red;
  width: 216px;
  padding: 0.75rem;
  gap: 0.7rem;
  align-items: center;
  display: flex;
  background-color: #1e282c;
}

#heading {
  font-family: sans-serif;
  font-size: 24px;
  background-color: #ecf0f5;
}

.title-heading {
  padding: 0.75rem 0rem 0rem 0.75rem;
}

.card-info p {
  padding-left: 10rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0.2rem 0rem;
  font-family: sans-serif;
}

.card {
  border: 0.2px solid #ecf0f5;
  border-radius: 10px;
  padding: 0.75rem;
}

.card-head1 {
  padding: 1.5rem 0rem 1rem 0.5rem;
  background-color: #f39c12;
  color: white;
  font-size: 24px;
  display: flex;
  gap: 1rem;
}

.card-head1 img {
  padding-left: 0.5rem;
}

.card-head1 span {
  font-size: 14px;
  font-weight: normal;
}

.card-head2 {
  padding: 1.5rem 0.8rem 1rem 0.5rem;
  background-color: #00c0ef;
  color: white;
  font-size: 24px;
  display: flex;
  gap: 1rem;
}

.card-head2 img {
  padding-left: 0.5rem;
}

.card-head2 span {
  font-size: 14px;
  font-weight: normal;
}

.card-head3 {
  padding: 1.5rem 0.8rem 1rem 0.5rem;
  background-color: #00a65a;
  color: white;
  font-size: 24px;
  display: flex;
  gap: 1rem;
}

.card-head3 img {
  padding-left: 0.5rem;
}

.card-head3 span {
  font-size: 14px;
  font-weight: normal;
}

.card-head4 {
  padding: 1.5rem 0.6rem 1rem 0.5rem;
  background-color: #f39c12;
  color: white;
  font-size: 24px;
  display: flex;
  gap: 1rem;
}

.card-head4 img {
  padding-left: 0.5rem;
}

.card-head4 span {
  font-size: 14px;
  font-weight: normal;
}

.card-head5 {
  padding: 1.5rem 0.6rem 1rem 0.5rem;
  background-color: #00c0ef;
  color: white;
  font-size: 24px;
  display: flex;
  gap: 1rem;
}

.card-head5 img {
  padding-left: 0.5rem;
}

.card-head5 span {
  font-size: 14px;
  font-weight: normal;
}

.card-body ul li {
  list-style: none;
}

.card-body-detail {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-size: 14px;
  color: #444444;
}

.uts {
  color: #00a65a;
  align-items: center;
}

.puts {
  color: white;
  background-color: #00a65a;
  padding: 2.5px 7px;
  border-radius: 10px;
  font-size: 12px;
}

.uas {
  color: #f39c12;
}

.puas {
  color: white;
  background-color: #f39c12;
  padding: 2.5px 7px;
  border-radius: 10px;
  font-size: 12px;
}

.absen {
  color: #dd4b39;
}

.pabsen {
  color: white;
  background-color: #dd4b39;
  padding: 2.5px 7px;
  border-radius: 10px;
  font-size: 12px;
}

.ppert {
  color: white;
  background-color: #0073b7;
  padding: 2.5px 7px;
  border-radius: 10px;
  font-size: 12px;
}

.pkel {
  color: white;
  background-color: #f39c12;
  padding: 2.5px 7px;
  border-radius: 10px;
  font-size: 12px;
}

.pquiz {
  color: white;
  background-color: #00c0ef;
  padding: 2.5px 7px;
  border-radius: 10px;
  font-size: 12px;
}

.card-info {
  padding: 1rem;
  font-size: 0.9rem;
  font-family: Helvetica;
  font-size: 11px;
  color: #00a65a;
  background-color: white;
  font-weight: 600;
  padding-left: 0.5rem;
  padding-top: 1rem;
}

.card-info p {
  padding-left: 0.5rem;
  padding-top: 0.2rem;
}

.card-body {
  background-color: white;
}

.card-info h3 {
  color: #0073b7;
  padding-left: 0.5rem;
}

.footer {
  color: #444453;
  background-color: white;
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
  padding: 1rem;
  border: 5px gray;
}

.footer span {
  font-weight: bolder;
}
